@charset "UTF-8";

$global-font-size: 62.5% !default;
$global-font-weight-normal: 400 !default;
$global-font-weight-bold: 700 !default;

$body-background: #FFF !default;
$body-font-size: 1.6rem !default;
$body-font-family: 'Helvetica', Arial, sans-serif !default;
$body-font-color: #000 !default;
$body-font-antialiased: true !default;
